.md-switching-view-cont .mbsc-segmented {
    max-width: 350px;
    margin: 0 auto;
}

.md-switching-view-cont .mbsc-calendar-grid-item {
    height: 490px;
    box-sizing: border-box;
}

.cal-header-picker {
    flex: 1 0 auto;
}

@media screen and (min-width: 768px) {
    .cal-header-nav {
        width: 200px;
    }
}

/* material header order */

.mbsc-material.cal-header-prev {
    order: 1;
}

.mbsc-material.cal-header-next {
    order: 2;
}

.mbsc-material.cal-header-nav {
    order: 3;
}

.mbsc-material .cal-header-picker {
    order: 4;
}

.mbsc-material .cal-header-today {
    order: 5;
}

/* windows header order */

.mbsc-windows.cal-header-nav {
    order: 1;
}

.mbsc-windows.cal-header-prev {
    order: 2;
}

.mbsc-windows.cal-header-next {
    order: 3;
}

.mbsc-windows .cal-header-picker {
    order: 4;
}

.mbsc-windows .cal-header-today {
    order: 5;
}

.event-color-c {
    display: flex;
    margin: 16px;
    align-items: center;
    cursor: pointer;
}

.event-color-label {
    flex: 1 0 auto;
}

.event-color {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 240px;
    background: #5ac8fa;
}

.crud-color-row {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.crud-color-c {
    padding: 3px;
    margin: 2px;
}

.crud-color {
    position: relative;
    min-width: 46px;
    min-height: 46px;
    margin: 2px;
    cursor: pointer;
    border-radius: 23px;
    background: #5ac8fa;
}

.crud-color-c.selected,
.crud-color-c:hover {
    box-shadow: inset 0 0 0 3px #007bff;
    border-radius: 48px;
}

.crud-color:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    color: #f7f7f7;
    font-size: 20px;
    text-shadow: 0 0 3px #000;
    display: none;
}

.crud-color-c.selected .crud-color:before {
    display: block;
}