    <!DOCTYPE html>
<html lang="en" xmlns:resize="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Navvy the navigational ChatBot!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <link rel="stylesheet" href="./static/chatbot/chatbot.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
            integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="static/appointments/appointments.js"></script>
    <script type="text/javascript" src="static/appointments/mobiscroll.jquery.min.js"></script>
    <link rel="stylesheet" href="static/appointments/appointments.css">
    <link rel="stylesheet" href="static/appointments/mobiscroll.jquery.min.css">


</head>

<body>
<div id="navDiv"></div>
<!-- Currently BROKEN!
Working prototype on meesrutten.me :) -->
<div class="contentDiv">
    <div class="chatbot__overview">
        <ul class="chatlist pe-4">
            <li class="bot__output bot__output--standard">Hey, I'm your MedInteract ChatBot</li>
            <li class="bot__output bot__output--standard">
                <input class="btn btn-primary createappointment" type="button" id="createappointment" value="Create Appointment">
                <input class="btn btn-primary myBooking" type="button" id="myBooking" value="My Appointments">
                <input class="btn btn-primary viewDoctors" id="viewDoctors" type="button" value="View Doctors">
                <input class="btn btn-primary emergencyInfo" id="emergencyInfo" type="button" value="Emergency Contact">
                <!--                <input class="btn btn-primary" id ="viewPatients" type="button" value="View Patients">-->
            </li>

        </ul>
    </div>
    <div class="chatbox-area col-12 py-3">
        <form action="" id="chatform">
            <textarea placeholder="Type help to list out all the options" class="chatbox" name="chatbox"
                      minlength="2"></textarea>
            <input class="submit-button" type="submit" value="send">
        </form>
    </div>

</div>


<button type="button" class="btn btn-primary d-none" id="show" data-bs-toggle="modal"
        data-bs-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-focus="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="min-width: 75vw">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Schedule For
                    <text id="modalTitleDoctorName">Doctor Name</text>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div mbsc-page class="demo-switching-calendar-scheduler-agenda">
                    <div style="height:100%">
                        <div id="demo-day-week-view" class="md-switching-view-cont"></div>
                    </div>
                    <div style="display:none">
                        <div id="demo-add-popup">
                            <div class="mbsc-form-group">
                                <label>
                                    Title
                                    <input mbsc-input id="event-title" style="z-index: 100;">
                                </label>
                                <label>
                                    Description
                                    <textarea mbsc-textarea id="event-desc" style="z-index: 100;"></textarea>
                                </label>
                            </div>
                            <div class="mbsc-form-group">
                                <label>
                                    Starts
                                    <input mbsc-input id="start-input"/>
                                </label>
                                <label>
                                    Ends
                                    <input mbsc-input id="end-input"/>
                                </label>
                                <div id="event-date"></div>
                                <div id="event-color-picker" class="event-color-c">
                                    <div class="event-color-label">Color</div>
                                    <div id="event-color-cont">
                                        <div id="event-color" class="event-color"></div>
                                    </div>
                                </div>
                                <div class="mbsc-button-group">
                                    <button class="mbsc-button-block" id="event-delete" mbsc-button
                                            data-color="danger" data-variant="outline">Delete event
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="demo-event-color">
                            <div class="crud-color-row">
                                <div class="crud-color-c" data-value="#ffeb3c">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#ffeb3c"></div>
                                </div>
                                <div class="crud-color-c" data-value="#ff9900">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#ff9900"></div>
                                </div>
                                <div class="crud-color-c" data-value="#f44437">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#f44437"></div>
                                </div>
                                <div class="crud-color-c" data-value="#ea1e63">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#ea1e63"></div>
                                </div>
                                <div class="crud-color-c" data-value="#9c26b0">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#9c26b0"></div>
                                </div>
                            </div>
                            <div class="crud-color-row">
                                <div class="crud-color-c" data-value="#3f51b5">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#3f51b5"></div>
                                </div>
                                <div class="crud-color-c" data-value="">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"></div>
                                </div>
                                <div class="crud-color-c" data-value="#009788">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#009788"></div>
                                </div>
                                <div class="crud-color-c" data-value="#4baf4f">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#4baf4f"></div>
                                </div>
                                <div class="crud-color-c" data-value="#7e5d4e">
                                    <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"
                                         style="background:#7e5d4e"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>


</html>

<script src="./static/chatbot/chatbot.js"></script>

<script>
    $(document).ready(function () {
        if (getCookie("type") == "doctor") {
						$(".createappointment").attr("hidden", true);
						$(".viewDoctors").attr("hidden", true);
        }


        $(document).on("click", '.myBooking', function () {
            $("#show").click();
            let name = getCookie("name")
            $("#modalTitleDoctorName").html(name);


            if (getCookie("type") == "patient" || getCookie("type") == "doctor") {
                loadAppointments(getCookie("type").charAt(0).toUpperCase() + getCookie("type").slice(1), getCookie("id"), true);
            }


        })

        $(document).on("click", '.calendar', function () {
            $("#show").click();
            $("#modalTitleDoctorName").html(this.id.split("_")[1]);
            if (getCookie("type") == "patient" ) {
                loadAppointments("Doctor", this.id.split("_")[0], true);
            }
            else if (getCookie("type") == "Doctor")
                loadAppointments("patient", this.id.split("_")[0], true);

        })
    })


</script>